@page "/editcategory/{Category_Id}"

<h1>Edit Category</h1>

<EditForm Model="@category">
    <div class="form-group mb-3">
		<label for="category_Id">Category Id</label>
		<InputText id="category_Id" class="form-control" @bind-Value="@category.Category_Id"  />
    </div>

    <div class="form-group mb-3">
		<label for="category_Name">Category Name</label>
		<InputText id="category_Name" class="form-control" @bind-Value="@category.Category_Name" />
	</div>   

    <div class="d-flex justify-content-center align-items-center">
       <nav>
           <NavLink class="btn btn-secondary me-2" href="/categorylist">Back</NavLink>
       </nav>
       <button @onclick="UpdateCategory" class="btn btn-primary">Update</button>
    </div>
</EditForm>

@if (isSaved)
{
        <div class="alert alert-info" role="alert">
		Category updated
        </div>
}
