@page "/"

<h1 class="text-center">Village Rental Manager</h1>

<div class="row g-3">
   <div class="col-md-3">
     <div class="card text-white bg-primary">
       <div class="card-body">
         <p class="card-text">Customer</p>
         <a href="/customermanager" class="text-white text-decoration-underline">More info</a>
       </div>
     </div>
   </div>

   <div class="col-md-3">
     <div class="card text-white bg-success">
       <div class="card-body">
         <p class="card-text">Equipment</p>
         <a href="/equipmentmanager" class="text-white text-decoration-underline">More info</a>
       </div>
     </div>
   </div>

   <div class="col-md-3">
     <div class="card text-white bg-warning">
       <div class="card-body">
         <p class="card-text">Category</p>
         <a href="/categorylist" class="text-white text-decoration-underline">More info</a>
       </div>
     </div>
   </div>

   <div class="col-md-3">
     <div class="card text-white bg-danger">
       <div class="card-body">
         <p class="card-text">Rental</p>
         <a href="/rentalmanager" class="text-white text-decoration-underline">More info</a>
       </div>
     </div>
   </div>
</div>